.header_list {
  position: fixed;
  font-size: 1.3vw;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 1em;
}

.header a {
  text-decoration: none;
}

.home {
  font-size: 2vw;
}

.material-symbols-outlined.home {
  color: rgba(247, 247, 247, 0.829);
}

.material-symbols-outlined.popular {
  font-size: 2vw;
  display: none;
}

.material-symbols-outlined.new {
  font-size: 2vw;
  display: none;
}

@media only screen and (max-width: 650px) {
  .material-symbols-outlined.popular {
    color: #e7e7e7be;
    display: flex;
  }
  .popular-name {
    display: none;
  }
  .material-symbols-outlined.new {
    color: #e7e7e7be;
    display: flex;
  }
  .new-name {
    display: none;
  }
}

