.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  font-family: "Mulish", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card {
  border: solid 0.2vw rgba(201, 201, 201, 0.308);
  margin-bottom: 0.3em;
  border-radius: 1.2vw;
  padding: 1vw;
}

.card #title {
  font-weight: 600;
  font-size: 1.3vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  color: rgba(39, 38, 38, 0.829);
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 0.6vw;
  color: rgba(80, 79, 79, 0.877);
}

li.hint {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#link {
  display: flex;
  justify-content: center;
}

img {
  max-width: 50%;
  max-height: 50%;
}

video {
  max-width: 50%;
  max-height: 50%;
}

.bar-votes {
  display: flex;
  justify-content: space-between;
  border-top: 0.1vw solid rgba(0, 0, 0, 0.171);
  margin-top: 0.2em;
  color: rgba(80, 79, 79, 0.877);
  height: 2vw;
}

#upsNb {
  justify-content: center;
  margin: 0;
  font-size: 1vw;
  font-weight: 600;
}

.bar-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(167, 167, 167, 0.363);
  border: 0.1vw solid rgba(173, 172, 172, 0.514);
  border-radius: 0.5vw;
  color: rgba(80, 79, 79, 0.877);
  height: 2vw;
  cursor: pointer;
}

.comments-number {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.3vw;
}

.comments-hide {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.3vw;
}

#text {
  font-size: 0.8vw;
}
