html {
  font-family: "Mulish", sans-serif;
  background-color: rgba(1, 34, 100, 0.062);
}

.header {
  display: flex;
  width: 10%;
  justify-content: center;
  background-color:#001236;
  border-right: .01vw solid #CCCAF2;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 1vw;
  border-radius: 1.2vw;
  height: 96%;
  position: fixed;
  left: 17%;
  box-shadow: -32px 22px 43px -5px rgba(0, 0, 0, 0.33)
}

.main {
  display: flex;
  width: 50%;
  margin-top: 1vw;
  color: #001236;
  position: absolute;
  right: 20%;

}

@media only screen and (max-width: 650px) {
  .header {
    width: 5vw;
  }
}

p {
  text-shadow: 0.1px 0.1px 1px #C6C4F4;
  color: #ffffffc0;
  margin-block-start: .1vw;
  margin-block-end: .1vw;
}

p:hover {
  color: #9493AC;
}

p:active {
  color: #9493AC;
}
