html {
  font-family: "Mulish", sans-serif;
  background-color: rgba(1, 34, 100, 0.062);
}

.header {
  display: flex;
  width: 10vw;
  justify-content: center;
  background-color:#001236;
  border-right: .01vw solid #CCCAF2;
}

.main {
  display: flex;
  width: 100%;
  margin-top: 1vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  color: #001236;
}

body {
  display: flex;
}

@media only screen and (max-width: 650px) {
  .header {
    width: 5vw;
  }
}

p {
  text-shadow: 0.1px 0.1px 1px #C6C4F4;
  color: #ffffffc0;
  margin-block-start: .1vw;
  margin-block-end: .1vw;
}

p:hover {
  color: #9493AC;
}

p:active {
  color: #9493AC;
}
